<div class="grid p-fluid">
    <div class="col-12 md:col-6">
        <div class="col-12">
            <div class="card p-fluid">
                <h5>Member</h5>
                <div class="grid p-fluid">
                    <!-- TODO: Improve Styling -->
                    <button pButton (click)="edit()"><i class="pi pi-user-edit"></i></button>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="membership">Membership</label>
                            <p-dropdown
                            [disabled]="!is_edit"
                                id="membership"
                                [options]="membership_options"
                                [(ngModel)]="edit_member.membership_state"
                            ></p-dropdown>
                        </div>
                        <div class="field col">
                            <label htmlFor="member_id">Member ID</label>
                            <input

                            [disabled]="!is_edit"
                                pInputText
                                id="member_id"
                                type="number"
                                [(ngModel)]="edit_member.member_id"
                            />
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="mail">E-Mail</label>

                            <span class="p-input-icon-left">
                                <i class="pi pi-envelope"></i>
                                <input
                                [ngClass]="edit_member.email.length < 1 ? ['required']: []"

                                [disabled]="!is_edit"
                                    type="email"
                                    pInputText
                                    id="mail"
                                    [(ngModel)]="edit_member.email"
                                />
                            </span>
                        </div>
                        <div class="field col">
                            <label htmlFor="phone">Phone</label>
                            <span class="p-input-icon-left">
                                <i class="pi pi-phone"></i>
                                <input
                                [ngClass]="edit_member.phone.length < 1 ? ['required']: []"

                                [disabled]="!is_edit"
                                    type="tel"
                                    pInputText
                                    id="phone"
                                    [(ngModel)]="edit_member.phone"
                                />
                            </span>
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="last_name">Last Name</label>
                            <span class="p-input-icon-left">
                                <i class="pi pi-user"></i>
                                <input
                                [ngClass]="edit_member.last_name.length < 1 ? ['required']: []"

                                [disabled]="!is_edit"
                                    pInputText
                                    id="last_name"
                                    type="text"
                                    [(ngModel)]="edit_member.last_name"
                                />
                            </span>
                        </div>
                        <div class="field col">
                            <label for="first_name">First Name</label>
                            <input
                            [ngClass]="edit_member.first_name.length < 1 ? ['required']: []"

                            [disabled]="!is_edit"
                                pInputText
                                id="first_name"
                                type="text"
                                [(ngModel)]="edit_member.first_name"
                            />
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="birthday">Birthday</label>

                            <p-calendar
                                dateFormat="dd.mm.yy"
                                id="birthday"
                                [showIcon]="true"
                                inputId="icon"
                                [readonlyInput]="false"
                                [(ngModel)]="edit_member.birthday"
                                [maxDate]="max_year"
                                [disabled]="!is_edit"
                            ></p-calendar>
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="street">Street</label>
                            <span class="p-input-icon-left">
                                <i class="pi pi-map-marker"></i>

                                <input
                                [ngClass]="edit_member.street.length < 1 ? ['required']: []"
                                [disabled]="!is_edit"
                                    pInputText
                                    id="street"
                                    type="text"
                                    [(ngModel)]="edit_member.street"
                                />
                            </span>
                        </div>
                        <div class="field col-2">
                            <label htmlFor="house_number">Nr.</label>
                            <input
                            [ngClass]="edit_member.house_number.length < 1 ? ['required']: []"

                            [disabled]="!is_edit"
                                pInputText
                                id="house_number"
                                type="text"
                                inputmode="numeric"
                                pattern
                                [(ngModel)]="edit_member.house_number"
                            />
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col-4">
                            <label htmlFor="postalcode">Postalcode</label>
                            <input
                            [ngClass]="edit_member.postalcode.length < 1 ? ['required']: []"

                            [disabled]="!is_edit"
                                pInputText
                                id="postalcode"
                                type="text"
                                inputmode="numeric"
                                [(ngModel)]="edit_member.postalcode"
                            />
                        </div>
                        <div class="field col">
                            <label htmlFor="city">City</label>
                            <input
                            [ngClass]="edit_member.city.length < 1 ? ['required']: []"

                            [disabled]="!is_edit"
                                pInputText
                                id="city"
                                type="text"
                                [(ngModel)]="edit_member.city"
                            />
                        </div>
                    </div>
                </div>
                <button

                [ngClass]="is_edit ? [] : ['hidden']"
                [disabled]="!generate_update_request() || (member.id.length < 1 && !validate_member(edit_member))"
                    (click)="submit_member()"
                    pButton
                    pRipple
                    label="{{member.id.length < 1 ? 'Create' : 'Update'}}"
                    icon="pi pi-plus-circle"
                    class="mr-2 mb-2"
                ></button>

                <!-- </div> -->
            </div>
        </div>
    </div>

    <!-- <button (click)="create_member()">Create Member</button> -->
</div>
